.scoreboardTable {
  padding: 0;
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  color: whitesmoke;
}
.scoreboardTableHeaderRow {
  color: darkorange;
  font-weight: bold;
  height: 50px;
}
.scoreboardTableBodyRow:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.05);
}
#latestUserScore {
  background-color: crimson;
}
.scoreboardTableBodyRow:hover {
  background-color: darkorange;
}
.scoreboardTable tr td {
  height: 25px;
}

body {
  background-color: green;
}
